<div class="m-5">
  <div class="card ">
    <div class="card-body px-4">
      <div class="table-responsive">
        <table class="table table-borderless fs-14">
          <thead>
            <tr class="text-muted fw-normal">
              <th scope="col">Location</th>
              <th scope="col" class="text-center">Licences</th>
              <th scope="col" class="text-center">Enrollment date</th>
              <th scope="col" class="text-end">Products</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-bottom" *ngFor="let item of cardLocations">
              <td class="d-flex align-items-center">
                  <div class="box-icon bg-whitesmoke">
                      <img [src]="item.image" [alt]="item.name">
                  </div>
                  <span class="ps-3">{{item.name}}</span>
                  
              </td>
              <td class="align-middle text-center text-muted">{{item.licences}}</td>
              <td class="align-middle text-center text-muted">{{(item.enrollmentDate * 1000) | date: 'dd MMM yyyy'}}</td>
              <td class="d-flex justify-content-end" style="gap: 0.5rem;">
                  <div *ngIf="item.products.applicationLibrary" class="box-icon bg-antwhite rounded">
                    <img src="../../../assets/svg/keyhole.svg" alt="keyhole">
                  </div>
                  <div *ngIf="item.products.exams" class="box-icon bg-lavender rounded">
                    <img src="../../../assets/svg/pencil.svg" alt="pencil">
                  </div>
                  <div *ngIf="item.products.monitoring" class="box-icon bg-honeydew rounded">
                    <img src="../../../assets/svg/eye.svg" alt="eye">
                  </div>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
       
    </div>
</div>
</div>