<header>
  <div class="d-flex justify-content-between h-100 mx-5">
    <div class="d-flex flex-column align-items-start justify-content-center">
      <h1 class="fw-500">{{ this.dataService.headerTitle }}</h1>
      <span class="text-muted">{{ this.dataService.headerSubtitle }}</span>
    </div>
    <div
      class="d-flex align-items-center justify-content-center"
      style="gap: 1rem"
    >
      <a href="#"
        ><img
          src="../../../assets/svg/mail.svg"
          alt="message"
          width="24px"
          height="24px"
      /></a>
      <a href="#"
        ><img
          src="../../../assets/svg/bell.svg"
          alt="notification"
          width="24px"
          height="24px"
      /></a>
      <div class="d-flex" style="gap: 0.5rem">
        <img src="../../../assets/img/avatar.png" alt="profile" height="35px" />
        <div class="d-flex flex-column justify-content-center">
          <span class="fw-500 fs-14 lh-1">Andrew</span>
          <span class="text-muted fs-14 lh-1">Admin account</span>
        </div>
      </div>
    </div>
  </div>
</header>
