<aside class="sidebar">
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-center align-items-center area-logo">
      <img src="../../../assets/img/logo.png" alt="logo" />
    </div>
    <div class="d-flex justify-content-center mt-5">
      <ul class="d-flex flex-column" style="gap: 1rem">
        <li class="d-flex align-items-center">
          <a
            routerLink="/overview"
            routerLinkActive="active"
            class="d-flex w-100 px-3 py-2 cpointer"
            style="gap: 1rem"
            ><img
              src="../../../assets/svg/overview.svg"
              class="filter-color"
              alt="overview"
            /><span>Overview</span></a
          >
        </li>
        <li class="d-flex align-items-center">
          <a
            routerLink="/locations"
            routerLinkActive="active"
            class="d-flex w-100 px-3 py-2 cpointer"
            style="gap: 1rem"
            ><img
              src="../../../assets/svg/location.svg"
              class="filter-color"
              alt="location"
            /><span>Locations</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</aside>
